{% set user = app.user %}

{% extends "parent.html.twig" %}

{% block contenu %}

    <h1>Mes informations</h1>

    <p>Nom : {{user.lastname}}</p>
    <p>Prénom : {{user.firstname}}</p>
    <p>Date de naissance : {{user.dateOfBirth|date('d/m/Y')}}</p>

{% endblock %}