{% extends "parent.html.twig" %}

{% block contenu %}

<h1>Liste des articles</h1>

{% for article in articles %}

    {{ include("article/_article.html.twig", {"article": article}) }}
    
{% endfor %}

{% endblock %}